.maps{
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
    align-self: auto;
}

.title-m{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 5rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.left.m{ 
    flex:1 1;
    display: flex;
    gap:1rem;
    flex-direction: column;
    float: left;
}

.right-m{
    gap: 1rem;
    display: flex;
}

.cityorange{
    color: var(--orange);
}

.parceiros{
    display: flex;
    gap: 1rem;
}

.smalltext{
    display: block;
    padding-bottom: 1rem;
    gap:1rem;
    color:rgb(255, 255, 255);
    font-size: 1rem;  
    text-align:unset; 
    font-weight: normal;
    letter-spacing: 2px;
    align-self: center;
}

.smalltitle{
    display: block;
    padding-bottom: 1rem;
    gap:1rem;
    color:rgb(255, 255, 255);
    font-size: 4rem;  
    font-weight: bold;
    letter-spacing: 2px;
    align-self: center;
    padding: 2rem;
    font-style: italic;
}